{% extends 'base.html' %}
{% load static %}

{% block title %}Shopping Cart{% endblock %}

{% block content %}
    {% include 'messages.html' %}
    <section class="pt-5 pb-5">
      <div class="container">
          <div class="row d-flex justify-content-center">
              <div class="col-lg-12 col-md-12 col-12 card">
                <h3 class="display-5 mb-5 text-center">Shopping Cart</h3><br/>
                  <h3 style="padding-bottom: 15px">Cart Summary</h3>
                  {% if cart_products.count == 0 %}
                      <hr>
                      <p style="text-align: center; font-weight: bold; font-size: medium; padding-top: 20px">YOUR CART IS EMPTY</p>
                      <hr>
                  {% else %}
                  <!-- Cart Products Table -->
                  <table id="shoppingCart" class="table table-condensed table-responsive">
                      <thead>
                      <tr>
                          <th style="width:60%">Product</th>
                          <th style="width:10%">Price</th>
                          <th style="width:10%">Quantity</th>
                          <th style="width:14%"></th>
                      </tr>
                      </thead>
                      <tbody>
                      <!-- Each Cart Product Info -->
                      {% for product in cart_products %}
                          <tr>
                              <td data-th="Product">
                                  <div class="row">
                                      <div class="col-md-3 text-left">
                                          <img src="{{ product.image.url }}" alt="product-img" class="img-fluid d-none d-md-block rounded mb-2 shadow">
                                      </div>
                                      <div class="col-md-9 text-left mt-sm-2">
                                          <h5 style="font-weight: bold">{{ product.name }}</h5>
                                          <p class="font-weight-light">Brand: <a href="{% url 'store:brand_view' name=product.brand %}">{{ product.brand }}</a></p>
                                      </div>
                                  </div>
                              </td>
                              <!-- Sale price -->
                              {% for item in cart %}
                                  {% if product.name == item.name %}
                                      {% if product.is_sale %}
                                          <td data-th="Price" style="color: red; font-weight: bold; padding-top: 17px">{{ item.total_price|floatformat:2 }} zl</td>
                                      {% else %}
                                          <td data-th="Price" style="padding-top:17px">{{ item.total_price|floatformat:2 }} zl</td>
                                      {% endif %}
                                      <!-- End Sale -->
                                      <!-- Update cart product quantity -->
                                      <td data-th="Quantity">
                                          <form action="{% url 'cart:cart_update' product_id=product.id %}" method="POST" style="margin-top:5px">
                                              {% csrf_token %}
                                              <input type="number" class="form-control form-control-lg text-center" name="quantity" value="{{ item.quantity }}" max="{{ item.stock }}" min="1">
                                              <button class="btn btn-primary btn-sm btn-block mt-1" type="submit">Update</button>
                                          </form>
                                      </td>
                                      <!-- End Update -->
                                  {% endif %}
                              {% endfor %}
                              <!-- Action buttons -->
                              <td class="actions" data-th="">
                                  <div class="text-right mt-sm-2">
                                      <!-- Favorite Products -->
                                      {% if user.is_authenticated %}
                                          {% if user in product.favorites.all %}
                                              <a href="{% url 'store:remove_from_favorites' product_id=product.id %}"
                                                 class="btn btn-danger btn-md mb-2"><i class="fa-solid fa-heart"></i>
                                              </a> <!-- Remove from favorite -->
                                          {% else %}
                                              <a href="{% url 'store:add_to_favorites' product_id=product.id %}"
                                                 class="btn btn-white border-secondary bg-white btn-md mb-2"><i class="fa-regular fa-heart"></i>
                                              </a> <!-- Add to favorite -->
                                          {% endif %}
                                      {% endif %}
                                      <!-- End Favorite -->
                                      <a href="{% url 'cart:cart_delete' product_id=product.id %}"
                                         class="btn btn-primary border-secondary btn-md me-1 mb-2"><i class="fas fa-trash"></i>
                                      </a> <!-- Delete product -->
                                  </div>
                              </td>
                              <!-- End Actions -->
                          </tr>
                      {% endfor %}
                      <!-- End Product Info -->
                      </tbody>
                  </table>
                  {% endif %}
                  <!-- End Products Table -->
                  <!-- Count Cart Products -->
                  <p class="text-muted ps-2">Products in the cart: {{ cart|length }}</p><hr>
                  <!-- End Count -->
                  <!-- Add Discount Coupon Form -->
                  {% if not cart_products.count == 0 %}
                      <form action="{% url 'cart:session_cart_summary' %}" method="POST" class="row g-3">
                          {% csrf_token %}
                          <div class="col-auto ps-4">
                              <label class="visually-hidden">Add Discount Code:</label>
                              <input type="text" class="form-control" name="coupon" placeholder="Add discount code">
                          </div>
                          <div class="col-auto">
                              <button type="submit" class="btn btn-primary mb-4">Apply</button>
                          </div>
                      </form>
                      <!-- End Form -->
                      <!-- Show applied code if cart is not empty -->
                      {% if cart.get_coupon_code != None %}
                          <p class="text-muted">Applied discount code: {{ cart.get_coupon_code.code }}
                              <!-- Remove discount from the cart -->
                              <a href="{% url 'cart:delete_discount' %}" class="btn btn-outline-danger btn-sm mb-1">
                                  <i class="fa-solid fa-x"></i>
                              </a>
                          </p>
{#                          <form method="POST" action="{% url 'cart:delete_discount' %}">#}
{#                              {% csrf_token %}#}
{#                              <button type="submit" class="btn btn-danger btn-sm mb-4">Delete Coupon</button>#}
{#                          </form>#}
                          <!-- End -->
                      {% endif %}
                  {% endif %}
                  <!-- End -->
                  <!-- Back Shopping -->
                  <div class="mb-4 ms-2 mb-m-1 order-md-1 text-md-left">
                      <a href="{% url 'store:all_products' %}"><i class="fas fa-arrow-left mr-2">&nbsp;&nbsp;</i>Continue Shopping</a>
                  </div>
                  <!-- End -->
                  <!-- Under Products Block -->
                    <div class="row">
                        <!-- Payment Section -->
                        <div class="col-md-8">
                          <div class="card mb-4">
                              <div class="card-header py-3">
                                  <img class="me-2" width="45px" src="{% static 'img/Visa2.png' %}" alt="Visa"/>&nbsp;
                                  <img class="me-2" width="45px" src="{% static 'img/Mastercard.png' %}" alt="Mastercard"/>&nbsp;
                                  <img class="me-2" width="30px" src="{% static 'img/PayPal.png' %}" alt="PayPal"/>&nbsp;
                                  <img class="me-2" width="55px" src="{% static 'img/Przelewy24.png' %}" alt="Przelewy24"/>&nbsp;
                                  <img class="me-2" width="50px" src="{% static 'img/Blik.png' %}" alt="Blik"/>
                              </div>
                          </div>
                        </div>
                        <!-- End Payment -->
                        <!-- Summary Cart Section -->
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Summary:</h4>
                                </div>
                                <div class="card-body p-2">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-2 pb-0">
                                            Products:<span>{{ cart.get_total_price|floatformat:2 }} zl</span>
                                        </li>
                                        <!-- Show discount amount if coupon applied -->
                                        {% if cart.get_coupon_code and cart_products.count != 0 %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-2 pb-0">
                                                <b>Discount: <span style="color: red">(-{{ cart.calculate_discount|floatformat:2 }} zl)</span></b>
                                                <span style="color: red; font-weight: bold">{{ cart.total_price_after_discount|floatformat:2 }} zl</span>
                                            </li>
                                        {% endif %}
                                        <!-- End -->
                                        <!-- Shipping price condition -->
                                        <li class="list-group-item d-flex justify-content-between align-items-center px-2">
                                            Shipping (Over 350 zl - Free):
                                            {% if cart.get_coupon_code %}
                                                {% if cart.total_price_after_discount == 0 %}
                                                    <span> - </span>
                                                {% elif cart.total_price_after_discount < 350 %}
                                                    <span>12.99 zl</span>
                                                {% else %}
                                                    <span>Free</span>
                                                {% endif %}
                                            {% else %}
                                                {% if cart.get_total_price == 0 %}
                                                    <span> - </span>
                                                {% elif cart.get_total_price < 350.00 %}
                                                    <span>12.99 zl</span>
                                                {% else %}
                                                    <span>Free</span>
                                                {% endif %}
                                            {% endif %}
                                        </li>
                                        <!-- End shipping price -->
                                        <!-- Total cart products with shipping -->
                                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-2 mb-3">
                                            <div>
                                                <strong>Total</strong>
                                                <p class="mb-0">(including VAT)</p>
                                            </div>
                                            {% if cart_products.count != 0 %}
                                                <span><strong>{{ cart.get_total_price_with_shipping|floatformat:2 }} zl</strong></span>
                                            {% else %}
                                                <span><strong> - </strong></span>
                                            {% endif %}
                                        </li>
                                        <!-- End total -->
                                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-2 pb-2">
                                            Shipping Time: <span style="color: #0b5ed7; font-weight: bold">(1 to 5 business days)</span>
                                        </li>
{#                                        <p>Shipping time: </p>#}
{#                                        <p style="color: #0b5ed7">(1 to 5 business days)</p>#}
                                    </ul>
                                    {% if cart_products.count != 0 %}
                                    <!-- Checkout Button -->
                                    <button type="button" class="btn btn-primary btn-block">
                                        <a href="{% url 'cart:session_cart_summary' %}"></a>
                                        Go to Checkout
                                    </button>
                                    <a href="{% url 'cart:cart_clear' %}" class="btn btn-danger btn-block">Clear Cart</a>
                                    <!-- End Button -->
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- End Summary -->
                    </div>
                  </div>
                  <!-- End Block -->
              </div>
          </div>
    </section>
{% endblock %}


{#{% extends 'base.html' %}#}
{#{% load static %}#}
{##}
{#{% block title %}Shopping Cart{% endblock %}#}
{##}
{#{% block content %}#}
{#    {% include 'messages.html' %}#}
{#    <section class="pt-5 pb-5">#}
{#      <div class="container">#}
{#          <div class="row d-flex justify-content-center">#}
{#              <div class="col-lg-12 col-md-12 col-12 card">#}
{#                <h3 class="display-5 mb-5 text-center">Shopping Cart</h3><br/>#}
{#                  <h3 style="padding-bottom: 15px">Cart Summary</h3>#}
{#                  {% if total_products == 0 %}#}
{#                      <hr>#}
{#                      <p style="text-align: center; font-weight: bold; font-size: medium; padding-top: 20px">YOUR CART IS EMPTY</p>#}
{#                      <hr>#}
{#                  {% else %}#}
{#                  <!-- Cart Products Table -->#}
{#                  <table id="shoppingCart" class="table table-condensed table-responsive">#}
{#                      <thead>#}
{#                      <tr>#}
{#                          <th style="width:60%">Product</th>#}
{#                          <th style="width:10%">Price</th>#}
{#                          <th style="width:10%">Quantity</th>#}
{#                          <th style="width:14%"></th>#}
{#                      </tr>#}
{#                      </thead>#}
{#                      <tbody>#}
{#                      <!-- Each Cart Product Info -->#}
{#                      {% for product in cart_items %}#}
{#                          <tr>#}
{#                              <td data-th="Product">#}
{#                                  <div class="row">#}
{#                                      <div class="col-md-3 text-left">#}
{#                                          <img src="{{ product.image }}" alt="product-img" class="img-fluid d-none d-md-block rounded mb-2 shadow">#}
{#                                      </div>#}
{#                                      <div class="col-md-9 text-left mt-sm-2">#}
{#                                          <h5 style="font-weight: bold">{{ product.name }}</h5>#}
{#                                          <p class="font-weight-light">Brand: <a href="{% url 'store:brand_view' name=product.brand %}">{{ product.brand }}</a></p>#}
{#                                      </div>#}
{#                                  </div>#}
{#                              </td>#}
{#                              <!-- Sale price -->#}
{#                              {% if product.sale_price != product.price %}#}
{#                                  <td data-th="Price" style="color: red; font-weight: bold">{{ product.product_price }} zl</td>#}
{#                              {% else %}#}
{#                                  <td data-th="Price">{{ product.product_price}} zl</td>#}
{#                              {% endif %}#}
{#                              <!-- End Sale -->#}
{#                              <!-- Update cart product quantity -->#}
{#                              <td data-th="Quantity">#}
{#                                  <form action="{% url 'cart:cart_update' product_id=product.product_id %}" method="POST">#}
{#                                      {% csrf_token %}#}
{#                                      <input type="number" class="form-control form-control-lg text-center" name="quantity" value="{{ product.quantity }}" max="{{ product.stock }}" min="1">#}
{#                                      <button class="btn btn-primary btn-sm btn-block mt-1" type="submit">Update</button>#}
{#                                  </form>#}
{#                              </td>#}
{#                              <!-- End Update -->#}
{#                              <!-- Action buttons -->#}
{#                              <td class="actions" data-th="">#}
{#                                  <div class="text-right">#}
{#                                      <!-- Favorite Products -->#}
{#                                      {% if user.is_authenticated %}#}
{#                                          {% if product.product_id in fav_list %}#}
{#                                              <a href="{% url 'store:remove_from_favorites' product_id=product.product_id %}"#}
{#                                                 class="btn btn-danger btn-md mb-2"><i class="fa-solid fa-heart"></i>#}
{#                                              </a><!-- remove from favorite -->#}
{#                                          {% else %}#}
{#                                              <a href="{% url 'store:add_to_favorites' product_id=product.product_id %}"#}
{#                                                 class="btn btn-white border-secondary bg-white btn-md mb-2"><i class="fa-regular fa-heart"></i>#}
{#                                              </a><!-- add to favorite -->#}
{#                                          {% endif %}#}
{#                                      {% endif %}#}
{#                                      <!-- End Favorite -->#}
{#                                      <a href="{% url 'cart:cart_delete' product_id=product.product_id %}"#}
{#                                         class="btn btn-primary border-secondary btn-md me-1 mb-2"><i class="fas fa-trash"></i>#}
{#                                      </a> <!-- Delete product -->#}
{#                                  </div>#}
{#                              </td>#}
{#                              <!-- End Actions -->#}
{#                          </tr>#}
{#                      {% endfor %}#}
{#                      <!-- End Product Info -->#}
{#                      </tbody>#}
{#                  </table>#}
{#                  {% endif %}#}
{#                  <!-- End Products Table -->#}
{#                  <p class="text-muted ps-2">Products in the cart: {{ total_products }}</p><hr>#}
{#                  <!-- Back Shopping -->#}
{#                  <div class="mb-4 ms-2 mb-m-1 order-md-1 text-md-left">#}
{#                      <a href="{% url 'store:all_products' %}"><i class="fas fa-arrow-left mr-2">&nbsp;&nbsp;</i>Continue Shopping</a>#}
{#                  </div>#}
{#                  <!-- End -->#}
{#                  <!-- Under Products Block -->#}
{#                    <div class="row">#}
{#                        <!-- Payment Section -->#}
{#                        <div class="col-md-8">#}
{#                          <div class="card mb-4">#}
{#                              <div class="card-header py-3">#}
{#                                  <img class="me-2" width="45px" src="{% static 'img/Visa2.png' %}" alt="Visa"/>&nbsp;#}
{#                                  <img class="me-2" width="45px" src="{% static 'img/Mastercard.png' %}" alt="Mastercard"/>&nbsp;#}
{#                                  <img class="me-2" width="30px" src="{% static 'img/PayPal.png' %}" alt="PayPal"/>&nbsp;#}
{#                                  <img class="me-2" width="55px" src="{% static 'img/Przelewy24.png' %}" alt="Przelewy24"/>&nbsp;#}
{#                                  <img class="me-2" width="50px" src="{% static 'img/Blik.png' %}" alt="Blik"/>#}
{#                              </div>#}
{#                          </div>#}
{#                        </div>#}
{#                        <!-- End Payment -->#}
{#                        <!-- Summary Cart Section -->#}
{#                        <div class="col-md-4">#}
{#                            <div class="card mb-4">#}
{#                                <div class="card-header">#}
{#                                    <h4>Summary:</h4>#}
{#                                </div>#}
{#                                <div class="card-body">#}
{#                                    <ul class="list-group list-group-flush">#}
{#                                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">#}
{#                                            Products:<span>{{ total_price }} zl</span>#}
{#                                        </li>#}
{#                                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">#}
{#                                            Shipping (Over 350zl - Free):#}
{#                                            {% if total_price == None %}#}
{#                                                <span> - </span>#}
{#                                            {% elif total_price < 350.00 %}#}
{#                                                <span>{{ shipping_price }} zl</span>#}
{#                                            {% else %}#}
{#                                                <span>Free</span>#}
{#                                            {% endif %}#}
{#                                        </li>#}
{#                                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">#}
{#                                            <div>#}
{#                                                <strong>Total</strong>#}
{#                                                <p class="mb-0">(including VAT)</p>#}
{#                                            </div>#}
{#                                            <span><strong>{{ total_with_shipping}} zl</strong></span>#}
{#                                        </li>#}
{#                                        <p>Shipping time:</p>#}
{#                                        <p style="color: #0b5ed7">(1 to 5 business days)</p>#}
{#                                    </ul>#}
{#                                    <!-- Checkout Button -->#}
{#                                    <button type="button" class="btn btn-primary btn-lg btn-block">#}
{#                                        <a href="{% url 'cart:session_cart_summary' %}"></a>#}
{#                                        Go to checkout#}
{#                                    </button>#}
{#                                    <!-- End Button -->#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <!-- End Summary -->#}
{#                    </div>#}
{#                  </div>#}
{#                  <!-- End Block -->#}
{#              </div>#}
{#          </div>#}
{#    </section>#}
{#{% endblock %}#}

