{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Product Page{% endblock %}

{% block content %}
    {% include 'messages.html' %}
    <div class="container">
        <div class="card mb-3 pt-4 ps-4">
            <div class="row g-0">
                <div class="col-md-4">
                    {% thumbnail product.image "x300" as im %}
                        <a href="{{ product.image.url }}" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="{{ im.url }}" alt="product-img">
                        </a>
                    {% endthumbnail %}
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="text-align: center; padding-right: 30px">
                        <h4 class="card-title"><b>{{ product.name }}</b></h4><hr>
                        <div class="card-body">
                            <p class="card-text">{{ product.description }}</p><br/>
                            {% if product.is_sale %}
                                <p class="card-text" style="color: orangered; font-weight: bold; font-size: medium">Sale: {{ product.sale_price }} zł</p>
                                <p style="font-weight: bold; color: royalblue">Old price: {{ product.price }} zł</p>
                            {% else %}
                                <p class="card-text" style="color: royalblue;font-weight: bold; font-size: medium">{{ product.price }} zł</p>
                            {% endif %}<br/>
                            {% if product.quantity == 0 %}
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-outline-warning mt-auto disabled">Not Available</button><br/><br/>
                                    </div>
                                </div>
                            {% else %}
                                <a class="btn btn-info mt-auto inline_label" href="{% url 'cart:cart_add' product_id=product.id %}">
                                    Add to Cart&nbsp;<i class="bi-cart-fill me-1"></i>
                                </a><br/><br/>
                            {% endif %}
                            <a href="{% url 'store:all_products' %}" class="btn btn-outline-primary">Back to products</a>
                            <hr/>
                            <p class="card-text"><small class="text-muted">
                                Brand: {{ product.brand }}&nbsp;&nbsp;|&nbsp;&nbsp;Category: <a href="{%  url 'store:category_view' slug=product.category.slug %}">{{ product.category }}</a></small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Related products -->
    {% if random %}
        <div class="container py-5">
        <div class="card mb-3">
            <p class="text-muted m-3" style="font-weight: bold; text-align: center;">YOU MAY ALSO LIKE FROM THIS CATEGORY</p>
        </div>
            <div class="row">
              {% for prod in random %}
                  <div class="col-md-6 col-lg-4 mb-4 mb-md-0 pb-3">
                      <div class="card h-100">
                          <div class="d-flex justify-content-center p-3">
                              <h6 style="line-height: 1.5; text-align: center">
                                  <a href="{% url 'store:product' pk=prod.pk %}" class="text-muted">{{ prod.name }}</a>
                              </h6>
                          </div>
                          <img src="{{ prod.image.url }}" class="card-img" style="display: block; margin-left: auto; margin-right: auto; height: 200px; width: max-content" alt="prod-img"/>
                          <div class="card-body">
                              <div class="d-flex justify-content-between">
                                  <p class="small"><a href="{% url 'store:brand_view' name=prod.brand %}" class="text-muted">{{ prod.brand }}</a></p>
                                  <p class="small">{{ prod.sale_price }} zl</p>
                              </div>
                              <div class="d-flex justify-content-between mb-3">
                                  {% if prod.quantity != 0 %}
                                      <p class="text-muted mb-0 small">Available: {{ prod.quantity }}</p>
                                  {% else %}
                                      <p class="text-muted mb-0 small">Not Available</p>
                                  {% endif %}
                                  <!-- Favorite products -->
                                  {% if user.id != None %}
                                      {% if user in prod.favorites.all %}
                                          <a href="{% url 'store:remove_from_favorites' product_id=prod.id %}">
                                              <i class="fa-solid fa-heart" style="color: red"></i></a> <!-- unlike -->
                                      {% else %}
                                          <a href="{% url 'store:add_to_favorites' product_id=prod.id %}">
                                              <i class="fa fa-heart-o" style="color: red"></i></a> <!-- like -->
                                      {% endif %}
                                  {% endif %}
                                  <!-- End -->
                              </div>
                          </div>
                      </div>
                  </div>
              {% endfor %}
            </div>
        </div>
    {% endif %}
    <!-- End -->
{% endblock %}
