{% load static %}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: transparent">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'main:home' %}"><i style="color: darkviolet">HauAria</i>&nbsp;Concept Store</a>
        <img src="{% static "img/test-icon.png" %}" alt="logo" width="5%">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto ms-2">
                <!-- Light/Dark Mode -->
                {% if request.session.theme == 'dark' %}
                    <button class="dropdown-item" id="theme-toggle">
                        <i class="fa-regular fa-sun fa-lg"></i>
                    </button> <!-- Switch to Light Mode -->
{#                    <link rel="stylesheet" href="{% static 'css/styles.css' %}">#}
                {% else %}
                    <button class="dropdown-item" id="theme-toggle">
                        <i class="fa-solid fa-sun fa-lg"></i>
                    </button> <!-- Switch to Dark Mode -->
{#                    <link rel="stylesheet" href="{% static 'css/styles.css' %}">#}
                {% endif %}&nbsp;
                <!-- End Modes -->
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'main:home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'store:new_in' %}">New</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'store:on_sale' %}">Sale</a></li>
                <li class="nav-item dropdown" id="myDropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">Dog Items</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
{#                        <li><a class="dropdown-item" href="#!">Eat and Treats</a></li>#}
                        <li class="dropdown-submenu"><a class="submenu" tabindex="-1" href="#">Eat and Treats &raquo;</a>
                            <ul class="dropdown-menu">
{#                                <li><a tabindex="-1" href="{% url 'store:category_view' pk=7 %}">Dry Food</a></li>#}
{#                                <li><a tabindex="-1" href="{% url 'store:category_view' name='Dry Food' %}">Dry Food</a></li>#}
                                <li><a tabindex="-1" href="{% url 'store:category_view' slug='dry-food' %}">Dry Food</a></li>
                                <li><a tabindex="-1" href="{% url 'store:category_view' slug='wet-food' %}">Wet Food</a></li>
                                <li><a tabindex="-1" href="{% url 'store:category_view' slug='treats' %}">Treats</a></li>
{#                                <li><a tabindex="-1" href="#">2nd level dropdown</a></li>#}
{#                                <li class="dropdown-submenu">#}
{#                                    <a class="submenu" href="#">Another dropdown &raquo;</a>#}
{#                                        <ul class="dropdown-menu">#}
{#                                            <li><a href="#">3rd level dropdown</a></li>#}
{#                                        </ul>#}
{#                                </li>#}
                            </ul>
                        </li>
                        <li class="dropdown-submenu"><a class="submenu" tabindex="-1" href="#">For Health and Clean &raquo;</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="{% url 'store:category_view' slug='clean-dog' %}">Clean Dog</a></li>
                                <li><a tabindex="-1" href="{% url 'store:category_view' slug='supplements' %}">Supplements</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'store:category_view' slug='toys' %}">Toys and Fun</a></li>
                        <li><a class="dropdown-item" href="{% url 'store:category_view' slug='interior-accessories' %}">Inside</a></li>
                        <li><a class="dropdown-item" href="{% url 'store:category_view' slug='external-accessories' %}">Outside</a></li>
                        <li><a class="dropdown-item" href="{% url 'store:category_view' slug='dog-lover' %}">For You</a></li>
                        <li><a class="dropdown-item" href="{% url 'store:category_view' slug='other' %}">Other</a></li>
                        <li><hr class="dropdown-divider"/></li>
                        <li><a class="dropdown-item" href="{% url 'store:all_products' %}">All Products</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'store:brands' %}">Brands</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">About</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'main:about' %}">About Us</a></li>
                        <li><a class="dropdown-item" href="https://fundacjajudyta.com/" target="_blank">Adopt</a></li>
                        <li><a class="dropdown-item" href="https://johndog.pl/blog/" target="_blank">Blog</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if  user.is_authenticated %}
                            <li><a class="dropdown-item" href="{% url 'main:user_account' %}">Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'main:logout' %}">Log Out</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{% url 'main:register' %}">Register</a></li>
                            <li><a class="dropdown-item" href="{% url 'main:login' %}">Log In</a></li>
                        {% endif %}
                        <li class="dropdown-submenu"><a class="submenu" tabindex="-1" href="#">Newsletter &raquo;</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="{% url 'main:newsletter_signup' %}">Subscribe</a></li>
                                <li><a tabindex="-1" href="{% url 'main:newsletter_delete' %}">Unsubscribe</a></li>
                            </ul>
                        </li>
{#                        <li><a class="dropdown-item" href="{% url 'main:newsletter_signup' %}">Newsletter</a></li>#}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Customer Support</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'main:contact' %}">Contact</a></li>
                        <li><a class="dropdown-item" href="{% url 'main:location' %}">Find Us</a></li>
                        <li><a class="dropdown-item" href="#">Regulations</a></li>
                        <li><a class="dropdown-item" href="#">Return Policy</a></li>
                        <li><a class="dropdown-item" href="{% url 'main:privacy_policy' %}">Privacy Policy</a></li>
                    </ul>
                </li>
                <form class="d-flex pt-2 pb-3 ms-2">
                    <a href="{% url 'cart:session_cart_summary' %}" class="btn btn-outline-info pt-3" type="submit">
{#                    <a href="{% url 'cart:cart_summary' %}" class="btn btn-outline-info pt-3" type="submit">#}
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">{{ cart|length }}</span>
                    </a>
                </form>
                {% if user.is_authenticated %}&nbsp;&nbsp;
                    {% if user.customer.profile_image %}
                        <a class="nav-link" href="{% url 'main:user_account' %}">
                            <img src="{{ user.customer.profile_image.url }}" class="rounded-circle" width="40" height="40" alt="default-img">
                        </a>
                    {% else %}
                        <a class="nav-link" href="{% url 'main:user_account' %}">
                            <img src="{% static 'img/default-icon.png' %}" class="rounded-circle" width="35" height="35" alt="default-img">
                        </a>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>