{% extends 'base.html' %}

{% block content %}
    {% include 'messages.html' %}
    <!-- Section-->
    <section class="py-4">
        <div class="container px-5 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-6 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100 pt-3 px-0.5">
                            <!-- Favorite products -->
                            {% if user.id != None %}
                                <div class="position-absolute" style="top: 1rem; left: 1rem">
{#                                    {% if product.id in favorite_list %}#}
                                    {% if user in product.favorites.all %}
                                        <a href="{% url 'store:remove_from_favorites' product_id=product.id %}">
                                            <i class="fa-solid fa-heart" style="color: red"></i></a> <!-- unlike -->
                                    {% else %}
                                        <a href="{% url 'store:add_to_favorites' product_id=product.id %}">
                                            <i class="fa fa-heart-o" style="color: red"></i></a> <!-- like -->
                                    {% endif %}
                                </div>
                            {% endif %}
                            <!-- Sale badge -->
                            {% if product.is_sale %}
                                <div class="badge bg-sale text-white position-absolute" style="top: 1rem; right: 1rem">Sale</div>
                            {% endif %}
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ product.image.url }}" style="object-fit: inherit;" alt="..."/>
{#                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />#}
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">
                                        <a href="{% url 'store:product' product.pk %}">{{ product.name }}</a>
                                    </h5>
                                    <!-- Product price-->
                                    <!-- Sale price -->
                                    {% if product.is_sale %}<br/>
                                        <span style="font-weight: bold; color: orangered">{{ product.sale_price }} zł</span>
{#                                            <span class="text-muted text-decoration-line-through">{{ product.sale_price }} zl</span>#}
                                        <br/><p style="font-size:large; color: #0a58ca; font-weight: bold;
                                        text-decoration: line-through; text-decoration-color: orangered">{{ product.price }} zł</p>
                                    <!-- End sale price -->
                                    {% else %}
                                        <br/><p style="font-size:large; color: #0a58ca; font-weight: bold ">{{ product.price }} zł</p>
                                    {% endif %}
                                    <div class="container" style="max-width: 100%; height: 200px; overflow: auto; border: 1px solid #ccc;padding: 5px;">
                                        {{ product.description }}
                                    </div><br/>
{#                                        <p style="overflow: auto">{{ product.description|truncatechars:80 }}</p>#}
{#                                    <br/><p style="font-size: medium; color: blueviolet; font-weight: bold">{{ product.brand }}</p>#}
                                    <p style="font-size: medium; font-weight: bold">
                                        <a href="{% url 'store:brand_view' name=product.brand %}">{{ product.brand }}</a>
                                    </p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-primary mt-auto" href="#">Add to Cart</a></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block pagination %}
    {% include 'pagination.html' %}
{% endblock %}