{% extends 'base.html' %}

{% block title %}Store Location{% endblock %}
{% block content %}
    <div class="container" style="padding-top: 2rem">
        {{ map|safe }}
        <br><br>
        <div style="text-align: center">
            <p style="font-weight: bold">YOU CAN FIND US HERE:</p>
            <p style="font-style: italic; font-weight: bold; color: darkviolet">HauAria Concept Store:
                <br><br>
                Street: Kartuska 354, 80-177 Gdansk
                Contact: +48 123-456-789<br/>
                Opening hours: 10:00-20:00 (Monday-Saturday)
            </p>
            <hr><br>
            <p style="font-weight: bold; font-style: italic; color: darkmagenta">HauAria Office (Contact only by Phone or Email):</p>
            <p><b>Email:</b> hauaria@contact.com</p>
            <p><b>Phone:</b> +48 122 344 566</p>
        </div>
    </div>
{% endblock %}
