{% extends 'base.html' %}

{% block content %}
    <div class="box" style="padding-left: 30px; padding-right: 30px;">
        <div class="card card-body special-card">
            <h3>Privacy Policy</h3><hr/>

            <p>This Privacy Policy describes how we collect, use, and handle your personal information when you use our e-commerce website.</p>

            <p><b>1. Information We Collect</b></p>

            <p><b>1.1 Personal Information:</b><br/>
                We may collect personal information such as your name, email address, phone number, shipping and billing addresses, and payment details when you place an order on our website.</p>

            <p><b>1.2 Log Data:</b><br/>
                We collect information that your browser sends whenever you visit our website. This may include your IP address, browser type and version, the pages of our website that you visit, the time and date of your visit, the time spent on those pages, and other statistics.</p>

            <p><b>1.3 Cookies:</b><br/>
                We use cookies to collect information and improve our services. Cookies are small files stored on your device that allow us to recognize and remember you. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent.</p>

            <p><b>2. How We Use Your Information</b></p>

            <p><b>2.1 Order Processing:</b><br/>
                We use your personal information to process and fulfill your orders, including shipping, payment, and customer service.</p>

            <p><b>2.2 Communication:</b><br/>
                We may use your personal information to communicate with you regarding your orders, updates, promotional offers, and newsletters. You can opt-out of receiving marketing communications at any time.</p>

            <p><b>2.3 Analytics:</b><br/>
                We may use third-party analytics tools to analyze and improve the performance of our website. These tools collect and analyze data about your use of our website.</p>

            <p><b>3. Data Sharing and Disclosure</b></p>

            <p><b>3.1 Service Providers:</b><br/>
                We may engage third-party service providers to perform various functions necessary to operate our website, such as payment processing, shipping, and email marketing. These service providers have access to your personal information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>

            <p><b>3.2 Legal Compliance:</b><br/>
                We may disclose your personal information when required by law or if we believe that such action is necessary to comply with a legal obligation, protect our rights, prevent fraud, or ensure the safety of our website and users.</p>

            <p><b>4. Data Security</b><br/>
                We take reasonable measures to protect your personal information from unauthorized access, alteration, disclosure, or destruction. However, no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.</p>

            <p><b>5. Your Rights</b><br>
                You have the right to access, update, and delete the personal information we hold about you. If you wish to exercise any of these rights, please contact us using the information provided below.</p>

            <p><b>6. Changes to this Privacy Policy</b><br/>
                We may update our Privacy Policy from time to time. Any changes will be effective immediately upon posting the updated Privacy Policy on our website.</p>

            <p><b>7. Contact Us</b><br/>
                If you have any questions or concerns regarding this Privacy Policy, please contact us at:<br/>
                <b>Email: hauaria@contact.com</b></p>
        </div>
    </div>
{% endblock %}