{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Register account{% endblock %}

{% block content %}
    {% include 'messages.html' %}
    <div class="container" style="padding-top: 2rem">
        <div class="card card-body special-card">
            <div style="margin:20px">
                <h3 style="text-align: center"><b>Register Account:</b></h3>
                <hr><br>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {{ values|linebreaks }}
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}

