{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}User Account{% endblock %}

{% block content %}
    {% include 'messages.html' %}
    <div class="container">
        <div class="card user-card bg-body">
            <div class="col-12">
                <!-- Page title -->
                <div class="my-5">
                    <h1 class="display-6">User Profile</h1>
                    <hr>
                    <div style="display: flex; justify-content: space-between">
                        <a href="{% url 'main:home' %}">
                            <button class="btn btn-info rounded-pill" type="button" style="float: right">Back home</button>
                        </a>
                        <a href="{% url 'main:logout' %}">
                            <button class="btn btn-warning rounded-pill" type="button" style="float: right">Log out</button>
                        </a>
                    </div>
                </div>

                <!-- User Profile Form -->
                    <div class="row mb-5 gx-5">
                        <!-- Customer contact detail -->
                        <div class="col-xxl-8 mb-5 mb-xxl-0">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <!-- RegisterForm Update -->
                                <form method="POST" action="" class="file-upload">
                                    {% csrf_token %}
                                    <div class="row g-3">
                                        <h4 class="mb-4 mt-0">User Info:</h4>
                                        <!-- Username -->
                                        <div class="col-md-6">
                                            <label class="form-label">{{ register_form.username.label }}</label>
                                            {{ register_form.username }}
                                        </div>
                                        <!-- Email -->
                                        <div class="col-md-6">
                                            <label class="form-label">{{ register_form.email.label }}</label>
                                            {{ register_form.email }}
                                        </div>
                                        <!-- First Name -->
                                        <div class="col-md-6">
                                            <label class="form-label">{{ register_form.first_name.label }}</label>
                                            {{ register_form.first_name }}
                                        </div>
                                        <!-- Last name -->
                                        <div class="col-md-6">
                                            <label class="form-label">{{ register_form.last_name.label }}</label>
                                            {{ register_form.last_name }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
{#                                        <form method="POST" action="">#}
{#                                            {% csrf_token %}#}
{#                                            {{ register_form|crispy }}#}
{#                                            <button class="btn btn-primary" type="submit" style="float: right">Update Profile</button>#}
{#                                        </form>#}
                                    </div> <!-- Row END -->
                                </form> <!-- End RegisterForm -->
                            </div>
                        </div>

                        <!-- Upload profile image-->
                        <div class="col-xxl-4">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row g-4">
                                        <h4 class="mb-4 mt-0">Upload Profile Image:</h4>
                                        <div class="text-center">
                                            <!-- Image upload -->
                                            {% if user.customer.profile_image %}
                                                <img src="{{ user.customer.profile_image.url }}" style="object-fit: cover; "
                                                     width="220" height="220" alt="profile-img"><br/><br/>
                                            {% else %}
                                                <img src="{% static 'img/background2.png' %}" width="220"
                                                     height="220" class="bi-card-image" alt="default-img"><br/><br/>
                                            {% endif %}
                                            {{ profile_form.profile_image }}
                                            <!-- Button -->
                                            <div class="modal-footer">
                                                <br/><button class="btn btn-info" type="submit">Change Image</button>&nbsp;&nbsp;
                                                <a href="{% url 'main:clear_image' %}">
                                                    <button class="btn btn-danger" type="button" style="float: right">Delete</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> <!-- Row END -->

                    <!-- Delivery Info -->
                    <div class="row mb-5 gx-5">
                        <div class="col-xxl-6 mb-5 mb-xxl-0">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <form method="POST" action="" class="file-upload">
                                    {% csrf_token %}
                                    <div class="row g-3">
                                        <h4 class="mb-4 mt-0">Customer Delivery Details:</h4>
                                        <!-- First Name -->
                                        <div class="col-md-6">
                                            <label class="form-label">{{ delivery_form.first_name.label }}</label>
                                            {{ delivery_form.first_name }}
                                        </div>
                                        <!-- Last Name -->
                                        <div class="col-md-6">
                                            <label class="form-label">{{ delivery_form.last_name.label }}</label>
                                            {{ delivery_form.last_name }}
                                        </div>
                                        <!-- Email -->
                                        <div class="col-md-6">
                                            <label class="form-label">{{ delivery_form.email.label }}</label>
                                            {{ delivery_form.email }}
                                        </div>
                                        <!-- Phone Number -->
                                        <div class="col-md-6">
                                            <label class="form-label">{{ delivery_form.phone.label }}</label>
                                            {{ delivery_form.phone }}
                                        </div>
                                        <!-- Street -->
                                        <div class="col-md-6">
                                            <label class="form-label">{{ delivery_form.street.label }}</label>
                                            {{ delivery_form.street }}
                                        </div>
                                        <!-- cd. Address (Building/Apartment Number) - Optional -->
                                        <div class="col-md-6">
                                            <label class="form-label">{{ delivery_form.address.label }}</label>
                                            {{ delivery_form.address }}
                                        </div>
                                        <!-- Postal Code -->
                                        <div class="col-md-6">
                                            <label class="form-label">{{ delivery_form.postal_code.label }}</label>
                                            {{ delivery_form.postal_code }}
                                        </div>
                                        <!-- City -->
                                        <div class="col-md-6">
                                            <label class="form-label">{{ delivery_form.city.label }}</label>
                                            {{ delivery_form.city }}
                                        </div>
                                        <!-- Additional Info -->
                                        <div class="col-md-6">
                                            <label class="form-label">{{ delivery_form.additional_info.label }}</label>
                                            {{ delivery_form.additional_info }}
                                        </div>
                                         <!-- Dog Name -->
                                        <div class="col-md-6">
                                            <label class="form-label">{{ delivery_form.dog_name.label }}</label>
                                            {{ delivery_form.dog_name }}
                                        </div>
                                        <!-- Instagram account -->
                                        <div class="col-md-6">
                                            <label class="form-label"><i class="fab fa-fw fa-instagram text-instagram me-2"></i>Instagram (optional)</label>
                                            <div class="input-group">
                                                {{ delivery_form.instagram }}
                                                <span class="input-group-btn">
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div> <!-- Row END -->
                                 </form> <!-- Form END -->
                            </div>
                        </div>

                        <!-- List of Favorites Products -->
                        <div class="col-xxl-6">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <form method="POST" action="" class="file-upload">
                                <div class="row g-3">
                                    <h4 class="my-4">
                                        <i class="fa-solid fa-paw"></i>&nbsp;
                                        Go to list of favorites:
                                        <a href="{% url 'store:fav_list' %}">
                                            <button type="button" class="btn btn-info">Products</button>
                                        </a>
                                    </h4>

                                    <!-- Change password -->
                                    <h4 class="my-4">Change Password:</h4>
                                    {% csrf_token %}
                                    <!-- New password -->
                                    <div class="col-md-6">
                                        <label class="form-label">{{ password_form.new_password1.label}}</label>
                                        {{ password_form.new_password1 }}
                                    </div>
                                    <!-- Confirm password -->
                                    <div class="col-md-6">
                                        <label class="form-label">{{ password_form.new_password2.label }}</label>
                                        {{ password_form.new_password2 }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Change Password</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div> <!-- Row END -->

                <!-- button -->
                <div class="gap-3 d-md-flex justify-content-md-end text-center">
{#                    <button type="button" class="btn btn-danger">Delete profile</button>#}
                    <a href="{% url 'main:account_delete' %}">
                        <button type="button" class="btn btn-danger">Delete Account</button>
                    </a>
{#                    <button type="button" class="btn btn-primary">Update profile</button>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}